$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$text-color: floralwhite;

.modal-header {
  background-color: $background-dark;
  color: $text-color;
  
  .btn-close {
    color: $text-color;
  }
}

.modal-body {
  background-color: $background-pale;
}
